04. CLIWEB/WS_EUREKA_CLIWEB/web/WEB-INF/wsdl/10.40.25.128_8080/WS_EUREKANUBE_SOAP/WSEureka.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="WSEureka">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://10.40.25.128:8080/WS_EUREKANUBE_SOAP/WSEureka?xsd=1"/>
</xsd:schema>
</types>
<message name="traerMovimientos">
<part name="parameters" element="tns:traerMovimientos"/>
</message>
<message name="traerMovimientosResponse">
<part name="parameters" element="tns:traerMovimientosResponse"/>
</message>
<message name="regDeposito">
<part name="parameters" element="tns:regDeposito"/>
</message>
<message name="regDepositoResponse">
<part name="parameters" element="tns:regDepositoResponse"/>
</message>
<message name="regRetiro">
<part name="parameters" element="tns:regRetiro"/>
</message>
<message name="regRetiroResponse">
<part name="parameters" element="tns:regRetiroResponse"/>
</message>
<message name="regTransferencia">
<part name="parameters" element="tns:regTransferencia"/>
</message>
<message name="regTransferenciaResponse">
<part name="parameters" element="tns:regTransferenciaResponse"/>
</message>
<portType name="WSEureka">
<operation name="traerMovimientos">
<input wsam:Action="http://ws.monster.edu.ec/WSEureka/traerMovimientosRequest" message="tns:traerMovimientos"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEureka/traerMovimientosResponse" message="tns:traerMovimientosResponse"/>
</operation>
<operation name="regDeposito">
<input wsam:Action="http://ws.monster.edu.ec/WSEureka/regDepositoRequest" message="tns:regDeposito"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEureka/regDepositoResponse" message="tns:regDepositoResponse"/>
</operation>
<operation name="regRetiro">
<input wsam:Action="http://ws.monster.edu.ec/WSEureka/regRetiroRequest" message="tns:regRetiro"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEureka/regRetiroResponse" message="tns:regRetiroResponse"/>
</operation>
<operation name="regTransferencia">
<input wsam:Action="http://ws.monster.edu.ec/WSEureka/regTransferenciaRequest" message="tns:regTransferencia"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEureka/regTransferenciaResponse" message="tns:regTransferenciaResponse"/>
</operation>
</portType>
<binding name="WSEurekaPortBinding" type="tns:WSEureka">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="traerMovimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="regDeposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="regRetiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="regTransferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSEureka">
<port name="WSEurekaPort" binding="tns:WSEurekaPortBinding">
<soap:address location="http://10.40.25.128:8080/WS_EUREKANUBE_SOAP/WSEureka"/>
</port>
</service>
</definitions>