04. CLIWEB/WS_EUREKA_CLIWEB/src/conf/xml-resources/web-service-references/WSEureka/wsdl/10.40.25.128_8080/WS_EUREKANUBE_SOAP/WSEureka.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.monster.edu.ec/">

<xs:element name="movimiento" type="tns:movimiento"/>

<xs:element name="regDeposito" type="tns:regDeposito"/>

<xs:element name="regDepositoResponse" type="tns:regDepositoResponse"/>

<xs:element name="regRetiro" type="tns:regRetiro"/>

<xs:element name="regRetiroResponse" type="tns:regRetiroResponse"/>

<xs:element name="regTransferencia" type="tns:regTransferencia"/>

<xs:element name="regTransferenciaResponse" type="tns:regTransferenciaResponse"/>

<xs:element name="traerMovimientos" type="tns:traerMovimientos"/>

<xs:element name="traerMovimientosResponse" type="tns:traerMovimientosResponse"/>

<xs:complexType name="regDeposito">
<xs:sequence>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
<xs:element name="importe" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regDepositoResponse">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regTransferencia">
<xs:sequence>
<xs:element name="cuentaOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="cuentaDestino" type="xs:string" minOccurs="0"/>
<xs:element name="importe" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regTransferenciaResponse">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerMovimientos">
<xs:sequence>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerMovimientosResponse">
<xs:sequence>
<xs:element name="movimiento" type="tns:movimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movimiento">
<xs:sequence>
<xs:element name="accion" type="xs:string" minOccurs="0"/>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="importe" type="xs:double"/>
<xs:element name="nromov" type="xs:int"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regRetiro">
<xs:sequence>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
<xs:element name="importe" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regRetiroResponse">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>